
body {
	background: #F2F2F2;
}
.navbar-default {
	background-color: #EDEDED;
	padding-left : 120px;
	padding-right : 100px;
	color: black;
}
a {
	color:#FA89FA;
}
.square {
	border : 1px solid black;
	padding : 20px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}